<!DOCTYPE html>
<html>
  <head>
    <title>Conveyance Details</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/records.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Black+Ops+One&family=Nova+Square&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h2>Name : {{name|upper}}</h2>
      <h3>Employee Code : {{empCode|upper}}</h3>
      <select name="year" id="year" required autofocus>
        <option value="none" selected disabled hidden>Select Year</option>
      </select>
      <select name="month" id="month" required>
        <option value="none" selected disabled hidden>Select Month</option>
      </select>
      <button type="submit" id="login-btn" class="btn">Get Records</button>
    </div>
    <script src="{{url_for('static', filename='js/records.js')}}"></script>
  </body>
</html>
