<!DOCTYPE html>
<html>
  <head>
    <title>Conveyance Display</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/recordView.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Black+Ops+One&family=Nova+Square&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body></body>
</html>
